name: 'Personal Website Deploy'
on:
  push:
    tags:
      - v*
jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.GH_REPO_TOKEN }}

      - name: 'Setup Node'
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - run: npm install
        working-directory: ./modules/fe-personal-site

      - run: npm run build
        working-directory: ./modules/fe-personal-site

      - name: 'Setup Terraform'
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: '1.9.8'

      - name: 'Terraform Init'
        run: terraform init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: 'Terraform Validate'
        run: terraform validate

      - name: 'Terraform Plan'
        run: terraform plan
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: 'Terraform Apply'
        run: terraform apply -auto-approve
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: 'Upload new assets to S3 and invalidate cache'
        run: |
          aws s3 sync ./dist s3://s3-bucket-maxwell-demon --cache-control 'max-age=31536000' --exclude "*.html" --region us-east-1
          aws s3 sync ./dist s3://s3-bucket-maxwell-demon --cache-control 'no-cache' --region us-east-1
          aws cloudfront create-invalidation --distribution-id $PERSONAL_SITE_CF_ID --paths "/*" --region us-east-1
        working-directory: ./modules/fe-personal-site
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          PERSONAL_SITE_CF_ID: ${{ secrets.PERSONAL_SITE_CF_ID }}
