name: 'Personal Website Push Check'
on:
  push:
    branches:
      - master
    tags-ignore:
      - v*
jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.GITHUB_REPO_TOKEN }}

      - name: 'Setup Node'
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - run: npm install
        working-directory: ./modules/fe-personal-site

      - run: npm run build
        working-directory: ./modules/fe-personal-site

      - name: 'Setup Terraform'
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: '1.9.8'

      - name: 'Terraform Init'
        run: terraform init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: 'Terraform Validate'
        run: terraform validate

      - name: 'Terraform Plan'
        run: terraform plan
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
